@model IEnumerable<Supermarked.Models.Varegruppe>

@{
    ViewBag.Title = "Varegrupper";
}

<h2>Varegrupper</h2>

<p>
    @Html.ActionLink("Ny Varegruppe", "Create", new { }, new { @class="btn btn-primary" })
</p>
<table class="table table-striped table-hover table-bordered table-condensed">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Betegnelse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Betegnelse)
        </td>
        <td>
            @Html.ActionLink("Ret", "Edit", new { id=item.VaregruppeId }, new { @class="btn btn-primary btn-xs" })
            @Html.ActionLink("Info", "Details", new { id=item.VaregruppeId }, new { @class="btn btn-info btn-xs" })
            @Html.ActionLink("Slet", "Delete", new { id=item.VaregruppeId }, new { @class="btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
