@model IEnumerable<Supermarked.Models.Vare>

@{
    ViewBag.Title = "Vareoversigt";
}

<h2>Vareoversigt</h2>

<p>
    @Html.ActionLink("Opret ny vare", "Create", new { }, new { @class="btn btn-primary" })
</p>
<table class="table table-striped table-hover table-bordered table-condensed">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Betegnelse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beskrivelse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AntalPaaLager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Varegruppe.Betegnelse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Betegnelse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beskrivelse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pris)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AntalPaaLager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Varegruppe.Betegnelse)
        </td>
        <td class="text-center">
            @Html.ActionLink("Ret", "Edit", new { id=item.VareId }, new { @class="btn btn-primary btn-xs" })
            @Html.ActionLink("Info", "Details", new { id=item.VareId }, new { @class="btn btn-info btn-xs" })
            @Html.ActionLink("Slet", "Delete", new { id=item.VareId }, new { @class="btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
